<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="YourBot" />
    <meta property="og:site_name" content="YourBot - by ZeaCeR#5641" />
    <meta
      property="og:image"
      content="https://cdn.discordapp.com/attachments/856461730695217172/872069137847967774/Avatar.png"
    />
    <meta
      property="og:description"
      content="Just another open source discord bot"
    />
    <meta name="theme-color" content="#eb1a1a" />
    <title>YourBot</title>
    <link
      href="{{ url_for('static',filename='styles/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static',filename='styles/custom.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Navigation -->
    <nav
      id="siteNav"
      class="navbar navbar-default navbar-fixed-top"
      role="navigation"
    >
      <div class="container">
        <!-- Logo and responsive toggle -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#home">
            <font size="6" face="icomoon"> </font>
          </a>
          <a class="navbar-brand" href="#home">
            <font size="4">YourBot</font>
          </a>
        </div>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a
                href="https://discord.com/api/oauth2/authorize?client_id=858303945167208448&permissions=8&scope=bot"
                target="blank"
                >Invite</a
              >
            </li>
            <li>
              <a
                href="https://github.com/hirusha-adi/Discord-Bot/blob/main/PRIVACY-POLICY.md"
                target="blank"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a href="https://discord.gg/Q3CegRM7gZ" target="blank">Support</a>
            </li>
            <!-- <li>
                <a href="https://link.here">A COMMAND</a>
              </li> -->
            <li>
              <a
                href="https://hirusha-adi.github.io/hirusha/old.html"
                target="blank"
                >Other Projects</a
              >
            </li>
            <li class="dropdown">
              <a
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Highlights<span class="caret"></span
              ></a>
              <ul class="dropdown-menu" aria-labelledby="features">
                <li><a href="#ship">Fake Info Generator</a></li>
                <li><a href="#racing">Server Moderation</a></li>
                <li><a href="#spinners">Fun Images/Gifs</a></li>
                <li><a href="#battles">IP Address Information</a></li>
                <li><a href="#soundboard">Fake YouTube comments</a></li>
                <li><a href="#phones">NSFW images/GIFs</a></li>
                <li><a href="#welcomes">Do you love animals?</a></li>
                <li><a href="#fun">Useful Commands!</a></li>
                <li><a href="#info">Bot Uptime</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <a id="home"></a>
    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <h1>YourBot</h1>
          <p>
            <br /><br />
            The only open source discord bot with over 150 commands - v1.9
            <br /><br />
            Type <code>>Help</code> to see the commands!
          </p>
          <a
            href="https://discord.com/api/oauth2/authorize?client_id=858303945167208448&permissions=8&scope=bot"
            target="blank"
            class="btn btn-primary btn-lg"
            >Add to Discord</a
          >
        </div>
      </div>
    </header>

    <a id="ship"></a>
    <div class="feature">
      <div class="feature-content container">
        <div class="row">
          <div class="col-sm-7">
            <h1>Fake Info Generator</h1>
            <p>
              This feature is specially built for people who need Fake/Random
              information for some reason.
            </p>
            <p>
              Use <code>>fake help</code> to see the Fake information generating
              command list. and then, you can use the command
              <code>>fake [command]</code> to retrieve the information. There is
              also a mass profile generator Try the MFP using
              <code>>mfp [number_of_fake_profiles]</code> command! (MFP = Mass
              Fake Profile)
            </p>
          </div>
          <div class="col-sm-5">
            <img src="/static/images/ship.png" />
          </div>
        </div>
      </div>
    </div>

    <a id="racing"></a>
    <div class="feature">
      <div class="feature-content container">
        <div class="row">
          <div class="col-sm-7">
            <h1>Server Moderation</h1>
            <p>
              Moderate your server easily using simple commands! If you create a
              new server, you are able to run a command and apply the premade
              roles template
            </p>
            <p>Use <code>>Help mod</code> to see the commands available</p>
            <p>Use <code>>Help</code> to list out all the commands available</p>
          </div>
          <div class="col-sm-5">
            <img src="/static/images/racing.png" />
          </div>
        </div>
      </div>
    </div>

    <a id="spinners"></a>
    <div class="feature">
      <div class="feature-content container">
        <div class="row">
          <div class="col-sm-7">
            <h1>Fun Images/Gifs</h1>
            <p>Use this to be emojional stuff or to be fun!</p>
            <p>
              Type <code>>Help img</code> to list out all the commands with the
              usage!
            </p>
          </div>

          <div class="col-sm-5">
            <img src="/static/images/spinner.png" />
          </div>
        </div>
      </div>
    </div>

    <a id="battles"></a>
    <div class="feature">
      <div class="feature-content container">
        <div class="row">
          <div class="col-sm-7">
            <h1>IP Address Information</h1>
            <p>
              You took someones IP address or you have IP address that you wan't
              to scan. Theres no need of googling any more! Use
              <code>>ip [ip_address]</code> to do this within discord!
            </p>
          </div>
          <div class="col-sm-5">
            <img src="/static/battle.png" />
          </div>
        </div>
      </div>
    </div>

    <a id="soundboard"></a>
    <div class="feature">
      <div class="feature-content container">
        <div class="row">
          <div class="col-sm-7">
            <h1>Fake YouTube comments</h1>
            <p>
              Wanna create a fake picture of a youtube comment? What if i told
              you that it could be done without knowing photoshop or any other
              application but with a simple command!
            </p>
            <p>
              The simplest method of creating fake images of youtube comments!
              <br />
              <code>>ytc [name] [comment] [pfp_link]</code>
            </p>
          </div>
          <div class="col-sm-5">
            <img src="/static/images/sound.png" />
          </div>
        </div>
      </div>
    </div>

    <a id="phones"></a>
    <div class="feature">
      <div class="feature-content container">
        <div class="row">
          <div class="col-sm-7">
            <h1>NSFW images/GIFs</h1>
            <p>
              All anime NSFW stuff! You can get Images, GIFs! NOTE: These
              contain pornagraphic material which are not suitable for certain
              age groups!
            </p>
            <p>
              Why not try this?? <br />
              <code>>Help nsfw</code>
            </p>

            <p>
              to clear the screen soon without deleting, use <code>>csnd</code>
            </p>
          </div>
          <div class="col-sm-5">
            <img src="/static/images/phones.png" />
          </div>
        </div>
      </div>
    </div>

    <a id="welcomes"></a>
    <div class="feature">
      <div class="feature-content container">
        <div class="row">
          <div class="col-sm-7">
            <h1>Do you love animals?</h1>
            <p>
              Do you wan't to know some rare facts about animals? Do you love
              animal images?
            </p>
            <p>
              Then, This is the best feature in the bot you! speacially built to
              send cute images of animals you like!
            </p>
            <p>
              Use command <code>>Help animals</code> to see all the available
              commands.
            </p>
          </div>
          <div class="col-sm-5">
            <img
              src="/static/images/welcomeimage.png"
            />
            <br /><br />
            <!-- <img src="./images/welcomesetup.png"> -->
          </div>
        </div>
      </div>
    </div>

    <a id="fun"></a>
    <div class="feature">
      <div class="feature-content container">
        <div class="row">
          <div class="col-sm-7">
            <h1>Useful Commands!</h1>
            <p>
              There are a ton of random things to do while you have YourBot on
              your server!<br />
              <code>>av [@user_or_id]</code>
              <code>>bitcoin</code>
              <code>>eth</code>
              <code>>mac [mac_addr]</code>
              <code>>covid</code>
              <code>>lyricsof [song_name]</code>
              <code>>userinfo [@user]</code>
              <code>>serverinfo</code>
              <code>>nitro [number]</code>
              <code>>quote</code>
            </p>
            <p>
              Make decisions about life or anything!<br />
              <code>>8ball question?</code>
              <code>>bored</code>
              <code>>wyr [question]</code>
            </p>
          </div>
          <div class="col-sm-5">
            <img src="/static/images/fun.png/static/" />
          </div>
        </div>
      </div>
    </div>

    <a id="info"></a>
    <div class="feature">
      <div class="feature-content container">
        <div class="row">
          <div class="col-sm-7">
            <h1>Bot Uptime</h1>
            <p>
              We keep this bot always up and running and has a very low reponse
              time which is great for the user!
            </p>
            <p>
              While maintaing the code, we won't shutdown the servers for over
              30 seconds!
              <code>>ping</code>
            </p>
          </div>

          <div class="col-sm-5">
            <img src="/static/images/info.png" />
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static',filename='js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/custom.js') }}"></script>
  </body>
</html>

<!-- 
______           _____     _____  
|___  /          / ____|   |  __ \ 
   / / ___  __ _| |     ___| |__) |
  / / / _ \/ _` | |    / _ \  _  / 
 / /__  __/ (_| | |____  __/ | \ \ 
/_____\___|\__,_|\_____\___|_|  \_\
-->
